import logging

from telethon import TelegramClient, Button, events
from telethon.errors import ChatAdminRequiredError, MessageIdInvalidError, InlineBotRequiredError


bot = TelegramClient('bot', config.API_ID, config.API_HASH)
logging.basicConfig(level=logging.INFO)

bot.parse_mode = 'html'


@bot.on(events.NewMessage(func=lambda e: e.is_channel))
async def new_channel_message(event: Message):
    try:
        await bot.edit_message(event.chat, event.id, buttons=Button.inline('✔️ Выполнить', '0_done'))
    except (ChatAdminRequiredError, MessageIdInvalidError, InlineBotRequiredError):
        # Если бот не админ в чате, или если сообщение невозможно изменить (например, это стикер или сообщение через инлайн-бота)
        pass


@bot.on(events.CallbackQuery(pattern='(done|undone)'))
async def done_callback_query(event):
    source = (await event.get_message()).text.replace('~~', '')
    if event.data == b'done':
        text = f'✅ {source}' if source else '✅'
        buttons = Button.inline('Выполнено', 'undone')
        await event.edit(text, buttons=buttons, parse_mode=parse_mode)
    else:
        if source.startswith('<del>') and source.endswith('</del>'):
          source = source[5:-6]
        text = None if not source else source[1:] if source.startswith('✅') else source
        buttons = Button.inline('✔️ Выполнить', 'done')
        await event.edit(text, buttons=buttons)
      

if __name__ == '__main__':
    bot.start(bot_token=BOT_TOKEN)
    bot.run_until_disconnected()
